@import "../../index.scss";

.Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    z-index: 5;
    top: 0px;
    left: 0px;
    background-color: #fff;
    margin: auto;
    height: 70px;
    width: 100%;
    div {
        width: 90;
        margin: auto;
        ul.categories {
            display: flex;
            padding: 0px;
            margin: 0px;
            a {
                text-decoration: none;
                color: #000;
                li {
                    list-style: none;
                    padding: 20px 15px;
                    font-size: 16px;
                    font-weight: 600;
                    font-family: "Raleway", sans-serif;
                    line-height: 19.2px;
                    text-transform: capitalize;
                    cursor: pointer;
                }
            }
            li:hover {
                color: $primary-color-green;
                border-bottom: 1px solid $primary-color-green;
                border-bottom-color: $primary-color-green;
            }
        }
    }
    div.nav-center {
        display: flex;
        flex-direction: row;
        img {
            width: 41px;
            height: 41px;
            line-height: 19.2px;
            padding: 10px 10px;
            margin: 0px 0px;
        }
    }
    div.nav-right {
        div {
            display: flex;
            align-items: center;
            ul {
                list-style: none;
                display: flex;
                justify-content: space-around;
                align-items: center;
                cursor: pointer;
                margin: 0px;
                padding-left: 0px;
                li {
                    img {
                        margin: 0px;
                        width: 10px;
                        height: 10px;
                    }
                }
            }
            span{
                cursor: pointer;
            }
            img {
                width: 20px;
                height: 20px;
                line-height: 19.2px;
                padding: 20px 10px;
                margin: 0px 10px;
                cursor: pointer;
            }
            .cart-badge {
                position: relative;
                top: -33px;
                right: 19px;
                background-color: #000;
                color: #fff;
                color: white;
                font-size: 12px;
                padding: 4px 8px;
                text-align: center;
                border-radius: 50%;
            }
        }
    }
}
