@import "../../index.scss";

.Cart {
    width: 100%;
    padding: 15px;
    background-color: #fff;
    text-align: left;
    .cart-container {
        h1 {
            font-size: 32px;
            text-align: left;
            font-weight: 700;
            margin-bottom: 20px;
        }
        .cart-bottom {
            margin: 20px 0px 0px 0px;
            padding-top: 15px;
            div {
                margin-top: 10px;
                margin-bottom: 10px;
                display: flex;
                p {
                    font-size: 16px;
                    text-align: left;
                    font-weight: 300;
                    display: inline-block;
                    margin-right: 15px;
                    margin-top: 0px;
                    margin-bottom: 0px;
                }
                p:last-child {
                    font-weight: 700;
                }
            }
            span {
                margin-right: 15px;
                display: flex;
                p{
                    margin-right: 10px;

                }
            }
            div:last-of-type {
                text-align: center;
                display: flex;
                justify-content: flex-start;
                button {
                    padding: 10px 80px;
                    border: none;
                    font-size: 14px;
                }
                button.checkout-button {
                    background-color: $primary-color-green;
                    color: #fff;
                    margin-left: 5px;
                }
            }
        }
    }
}

.bordered {
    border: 1.5px solid black;
    padding: 4px 10px;
}
.colored {
    width: 20px;
    height: 20px;
    margin: 0px 10px 0px 0px !important;
    background-color: #000;
}
