@import "../../../index.scss";

.box-colored {
    width: 30px;
    height: 30px;
    margin: 0px 3px 0px 0px !important;
    border: 0.5px solid lightgray;
}

.box-colored-selected {
    width: 27px;
    height: 27px;
    margin: 0px 3px 0px 0px !important;
    border: 2px solid black;
}
