@import "../../../index.scss";

.button {
    width: 100%;
    margin: 0px;
    background-color: $primary-color-green;
    color: #fff;
    border: none;
    padding: 10px 30px;
    margin: 0px;
    cursor: pointer;
    max-width: 400px;
}

